$background-color: rgb(24, 26, 27);
$basic-color: #fff;
$basic-green-color: #5bb318;
@mixin button {
  background-color: #7fb77e;
  outline: none;
  border: none;
  padding: 12px 31px;
  font-size: 21px;
  font-weight: bolder;
  position: relative;
  a:hover {
    text-decoration: none;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: $basic-green-color;
    transition: all 0.3s ease-in-out;
    border-radius: 12px;
  }
  &:hover::before {
    width: 100%;
  }
}

body {
  background-color: $background-color;
  height: 100000px;
}

.navbar {
  color: #fff;
  box-shadow: 0px 16px 18px -23px #fff;
  position: fixed;
  width: 100%;
  background-color: $background-color;
  padding: 13px 54px;

  .collapse {
    button {
      @include button;
      a {
        color: $basic-color;
        position: relative;
        z-index: 1;
      }
    }
  }
  .navbar-nav .nav-link {
    color: $basic-color;
    padding: 11px 27px;
    font-size: 20px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: -23px;
      left: 0;
      width: 0%;
      height: 3px;
      background-color: #7fb77e;
      transition: all 0.3s ease-in-out;
      border-radius: 12px;
    }
    &:hover::before {
      width: 80%;
    }
  }

  .navbar-toggler{
    color: $basic-green-color;
    outline: none;
    border: none;
    font-size: 32px;

  }
}
