$background-color: #3d3c42;

body {
  background-color: $background-color;
  height: 100000px;
  .navbar {
    color: #fff;
    box-shadow: 0px 16px 18px -23px #fff;
    position: fixed;
    width: 100%;
    background-color: $background-color;
  }
}
